body {
  font-family: Arial, serif;
}

 .item-tile{
      background-color:   #d9ffcc;
      border: 1px solid black;
      color: white;
      height: auto;
    margin: 20px;
    padding:5px;
    }

#header-nav {
  background-color: black;
}

#nav-list a {
  color:  #00ffbf;
  text-align: center;
}
span a{

  text-decoration: none;
  text-transform: uppercase;
  color: blue;
}

span a:hover, span a:focus { 
  
  text-decoration: none;
  text-transform: uppercase;
  color:black;

}

h3 {
  text-transform: uppercase;  
}

h3.beef {
  color: #0d3300;
}

h3.sushi {
  color:#0d3300;
}

h3.chicken {
  color: #0d3300;
}
p{
  color:  #00bfff;
}
.navbar-brand{
color: #d9ffcc;

}